.missionSection {
  background-image: url('src/assets/featuredProductbckgrnd.jpg');
  background-size: cover;
  background-repeat: no-repeat;  padding: 60px 20px;
  background-color: #363636;
  margin-top: 3rem;
  margin-bottom: 4rem;
  text-align: center;
}

.missionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.missionContent h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: white;
}

.missionContent p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: white;
  max-width: 800px;
  line-height: 1.5;
  text-align: center;
}

.missionIcons {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.iconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconBox p {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin-top: 15px;
}

.iconBox:hover .icon {
  animation: tilt 0.5s ease;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 768px) {
  .missionIcons {
    flex-direction: column;
    gap: 20px;
  }
}
